*{
	margin: 0 auto;	
	
}

form{
	margin: 0 auto;	
	display:flex;
	flex-direction:column;
	width:300px;
	border:1px solid cornflowerblue;
	padding:20px;
}

form label{
	display:flex;
	justify-content:flex-start; /*Alinea a derecha*/
	justify-content:flex-end; /*Alinea a izquierda*/

}

.botones{
	margin:15px auto;
	display:flex;
	/*flex-direction:row-reverse; /*Invierte los botones*/
}

