*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.contenedor-map{
	margin: 20px;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lugares{
	background-color: grey;
	width: 45%;
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.map{
	
}

.item {
	background-color: #baadaa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-radius: 15px;
	width: 80%;
	margin-bottom: 5%;
}

.item-info {
	margin-right: 15px;
}

button{
	padding: 15px;
	border-radius: 10%;
	color: black;
	background-color: #cbcbcb;
}

nav{
	display: flex;

}